:root {
    --bs-body-font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.btn-edit {
    display: inline-block;
    margin-right: 11px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #6c757d;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #343a40 solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-edit:hover {
    background-color: #bd5d38;
    color: #fff;
    line-height: 0.7rem;
}

@media (min-width: 768px) {
    .btn-edit {
        color: #6c757d;
        font-size: 1rem;
        padding: 0.5rem 0.5rem;
        font-weight: 200;
        font-family: var(--bs-body-font-family);
    }

    nav-link js-scroll-trigger.active {
color: white;
    }
}

/*@media (min-width: 768px) {*/
/*    .form-control {*/
/*        padding: 10px;*/
/*        margin: 10px;*/
/*    }*/
/*}*/

.container-margin-top {
    margin-top: 40px;
}

.container-margin-bottom {
    margin-bottom: 10px;
}





